<footer class="py-2 bg-light">
  <div class="container">
    <div class="m-0 text-center">
      <img src="https://loremflickr.com/150/40" class="img-fluid" alt="Logo"/>
    </div>
    <p class="m-0 text-center">Copyright &copy; {{ site.time | date: '%Y' }}</p>
    <div class="row text-center">
    <div class="col-sm">
      <a>Home</a>
      <a>About Us</a>
      <a>Contact Us</a>
    </div>
    <div class="col-sm">
      <h5>Products</h5>
      <a>Machines</a>
      <a>Hand Tools</a>
    </div>
    <div class="col-sm">
      <a>Videos</a>
      <a>Download Brochures</a>
    </div>
    </div>
  </div>
</footer>
