<footer class="py-2 bg-light">
  <div class="container">
    <div class="m-0 text-center">
      <img src="https://loremflickr.com/150/40" class="img-fluid" alt="Logo"/>
    </div>
    <p class="m-0 text-center">Copyright &copy; {{ site.time | date: '%Y' }}</p>
    <div class="row text-center">
      <div class="col-sm">
        <nav class="nav flex-column">
          <a class="nav-link" href="#">Home</a>
          <a class="nav-link" href="#">About Us</a>
          <a class="nav-link" href="#">Contact Us</a>
        </nav>
      </div>
      <div class="col-sm">
        <nav class="nav flex-column">
          <a class="nav-link" href="#">Machines</a>
          <a class="nav-link" href="#">Hand Tools</a>
        </nav>
      </div>
      <div class="col-sm">
        <nav class="nav flex-column">
          <a class="nav-link" href="#">Videos</a>
          <a class="nav-link" href="#">Download Brochures</a>
        </nav>
      </div>
    </div>
  </div>
</footer>
