<!DOCTYPE html>
<html lang="en">
  {% include header.html %}
  <body class="bg-light">
    {% include navbar.html %}
    <div class="container shadow-sm bg-white p-2 my-4 rounded">
      <img
        class="d-block w-100"
        src="assets/images/home/banner.png"
        usemap="#bannermap"
      />
      <div class="w-100">
        <map name="bannermap" id="bannermap">
          <area
            alt="Machine 1"
            title="<b>Machine 1</b>"
            href="#"
            coords="580,20,865,220"
            shape="rect"
            data-toggle="popover"
            data-trigger="focus"
            data-content="Some <b>random</b> description of the machine"
            data-placement="bottom"
            data-html="true"
          />
          <area
            alt="Machine 2"
            title="<b>Machine 2</b>"
            href="#"
            coords="280,230,590,600"
            shape="rect"
            data-toggle="popover"
            data-trigger="focus"
            data-content="Some <b>random</b> description of the machine"
            data-placement="bottom"
            data-html="true"
          />
          <area
            alt="Machine 3"
            title="<b>Machine 3</b>"
            href="#"
            coords="865,40,1200,300"
            shape="rect"
            data-toggle="popover"
            data-trigger="focus"
            data-content="Some <b>random</b> description of the machine"
            data-placement="bottom"
            data-html="true"
          />
        </map>
      </div>
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
